{% extends 'shop/basic.html' %}


{% block title %}Product Veiw{% endblock %}
{% block style%} {% endblock%}
{% block body%}
<div class="container my-4">
    <h3>Contact us</h3>
    <div class="col-10">
        <form action="/shop/contact/" method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="form-group">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name='name' placeholder="Enter Your Name" required>
                <div class="invalid-feedback">
                    Please provide a valid Name.
                </div>
            </div>
            <div class="form-group mt-3">
                <label for="name" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name='email' placeholder="Enter Your Email"
                    required>
                <div class="invalid-feedback">
                    Please provide a valid Email.
                </div>
            </div>

            <div class="form-group mt-3">
                <label for="phone" class="form-label">Phone</label>
                <input type="text" class="form-control" id="phone" name='phone' placeholder="Enter Your Phone Number" required>
                <div class="invalid-feedback">
                    Please provide a valid Phone Number.
                </div>
            </div>


            <div class="form-group mt-3">
                <label for="desc" class="form-label">How May We Help You?</label>
                <textarea class="form-control" id="desc" name='desc' rows="3" required></textarea>
                <div class="invalid-feedback">
                    Please provide a valid text.
                </div>
            </div>
            <button type="submit" class="btn btn-success mt-3">Submit</button>
        </form>
    </div>
</div>


{% endblock %}

{% block script %}
<Script>

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
        .forEach(function (form) {
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
</Script>


{% endblock%}